html ~ {
    overflow-x:hidden;
    box-sizing: content-box;
    
}

body {
    background:linear-gradient(to right, #01060F, #2C4770, #04163F);
    padding-top: 4rem;
    padding-bottom: 4rem;

    
}

.row {
   justify-content: center;
}


#homeContentL {
    margin: 5px;
    justify-content: left;
    text-align: center;
    color: #f2f2f2;
    opacity: 60%;
    
    
    
}

#homeContentM {
    margin: 5px;
    justify-content: center;
    text-align: center;
    color: #f2f2f2;
    opacity: 60%;
    
}

#homeContentR {
    margin: 5px;
    justify-content: right;
    text-align: center;
    color: #f2f2f2;
    opacity: 60%;   
}

#homeContentR p {
    text-align: left;
}

/*[id*=homeContent]:hover  {
    background-color: #04163F;
    border-radius: 1rem;
    opacity: 80%;  
}*/

#services {
    border-width: 2px;
   
}

.btn{
    position: relative;
    display: block;
    color: white;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 10px 0;
    border: 2px solid #01060F;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
  }
  .btn::before{
    background: #0a0909;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  
  .btn1::before{
    width: 0%;
    height: 100%;
  }
  
  .btn1:hover::before{
    width: 100%;
  }

.social {
    display: inline-block;
    margin: 5px 20px;
}
