@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

colors {
color: #01060F,
#04163F,
#2C4770,
#f2f2f2
}


* {
    box-sizing: border-box;
    
}
body {
    padding-bottom: 5rem;
    padding-top: 5rem;
    font-family: 'Oswald', Roboto, Oxygen, Ubuntu, Cantarell,'Helvetica Neue', sans-serif;
    font-size: medium;
    background: linear-gradient(to right, #01060F,#04163F);
    display: flex;
    margin:0px;
}

nav {
    font-size: small;
    font-weight: 100;
}

nav button {
    border: none;
    background-color: transparent;
    color: #f2f2f2;
    font-size: 2rem;
    border-bottom: solid 2px white;

}

nav a.nav-link:hover {
    border-bottom: solid 2px turquoise;
}

#titlepage {
    color: turquoise;
    text-align: center;
    border-bottom: solid 2px #01060F;
    display: block;
    margin-bottom: 1rem;

}

.row {
    justify-content: center;
    background-color: black;
    opacity: 70%;
    border-radius: 10px;
    padding:2rem 2rem;

 }
 #portRow{
     background-color: transparent;
 }
 #portContentL{ 
     background-color: black;
     align-content: left;
     padding-right: 1rem;
     border-radius: 1rem;
     margin: 0rem 1rem;
 }
 #portContentM{
    background-color: black;
    padding: 0.5rem 0rem 1rem 1rem;
    border-radius: 1rem;
    margin: 3rem 1rem;
 }
 #portContentR {
    background-color: black;
    align-content: center;
    border-radius: 1rem;
    margin: 0rem 1rem;
 }

 #rowblog {
    justify-content: center;
    background-color: transparent;
    opacity: 70%;
    border-radius: 10px;
    padding:2rem 2rem;

 }
 #rowblog div {
     text-align: center;
     color:white;
     max-width: 30rem;
     padding:3rem 5rem;
 }

 #rowblog div h1 {
    border-bottom: solid 2px turquoise;
}
 
 #homeContentL {
     margin: 1rem;
     justify-content: left;
     text-align: center;
     color: #f2f2f2;
 }
 
 #homeContentM {
     margin: 1rem;
     justify-content: center;
     text-align: center;
     color: #f2f2f2;  
 }
 
 #homeContentR {
     margin: 1rem;
     justify-content: right;
     text-align: center;
     color: #f2f2f2;
 }
 
 #homeContentR p {
     text-align: left;
 }

li.social {
    display: inline-block;
    margin: 0 1rem;

}
li.social img {
    height: 2rem;
    width: 2rem;
    
}