body {

    padding-bottom: 4rem;
}

.row {
    justify-content: center;
 
}
.col-md-4 {
    margin:0;
}
.form {

    border-radius: 10px;
    padding: 10px 20px;
    min-width: 15rem;
    max-width: 20rem;
    background-color: aliceblue;
    
}
.form h3 {
   border-bottom: solid 2px black;
   color: black;
   padding: 0 0 10px;
    
}
.form-group {
    margin-bottom: 5px;
}
.form-group label {
    text-align: left;
    color:#01060F;
    display: inline-block;
}
.form-group input {
    width: 100%;
    font-size: 14px;

}
.form-group.sucess input{

    border-color: green;
}
.form-group.error input {
    border-color: red ;
}
.form-group small {
    font-size: 12px;
    visibility: hidden;
}
.form-group.error small{
    visibility: visible;
    color: red;
}

.form button {
    width: 100%;
    border-radius: 5px;
}
.form button:hover {
    background-color: #01060F;
    color: cornsilk;
}